* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 5px;
}

h1 {
  text-align: center;
}

#name-input {
  width: 23vw;
  height: 10vh;
  border-radius: 15px;
  padding: 10px;
  border-bottom: 1px solid black;
}

#age-input {
  width: 23vw;
  height: 10vh;
  border-radius: 15px;
  padding: 10px;
}

#students-list {
  list-style: none;
  box-shadow: 0 0 20px black;
  transition: transform 0.3s ease-in-out;
}

form {
  background-color: #000;
  opacity: 0.7;
  color: white;
  padding: 50px;
  width: 70vw;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 200px;
  text-align: center;
}

table {
  margin-left: 70px;
  text-align: center;
  width: 90%;
  background-color: whitesmoke;
  box-shadow: 0, 0, 20px black;
}

h2 {
  text-align: center;
}
